* {
    font-family:cursive;
    
  }
/* background images for the loginand sign up pages*/
body{
    
    background-image: url("https://media.istockphoto.com/vectors/virus-bacteria-vector-background-cells-disease-outbreak-coronavirus-vector-id1211544068?k=6&m=1211544068&s=612x612&w=0&h=IvZo-HIL4o6qhUaTno8SKcnPmBf6niW1YEBjBzDABHk=");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

.box {
    width: 300px;
    height: 200px;
    margin-top: 100px;
    left: 50%;    
}
/* The login and sign up pages change in font colour*/
.form-signin-heading{
    color:black;
}
.home-start{
    color:black;
}
.home-start h1{
    font-size:50px;
}
.home-para p{
    width:800px;
    align-items: left;
    margin-top: 50px;
    
    font-size: 20px;
    padding: 20px;
}






  


