{% extends "dashboard.html" %}


{% block title %}Learning Tutorials Page{% endblock %}

{% block main %}


<div class="user-page-container container">
    <div class="background-image-container">

    <h1>Learning Module - About Covid</h1>
    <div class="content-aboutcovid-page">
        <h2>What is COVID-19?</h2>
        <p>
            Covid-19 is an infectious disease that is called SARS-CoV-2, a newly discovered coronavirus. The World Health Organization first learnt about this disease on 31st December 2019, following a report of a cases of viral pneumonia in Wuhan, Peoples Republic of China.
    
        <p>Most people infected with this virus will experience mild to moderate respiratory illness and recover without any special treatment. Older people, and people with underlying medical problems such as diabetes, cardiovascular disease, and cancer are more likely to develop serious illness.:</p>
        
        <p>
            We can prevent and slow down transmission by being well informed about COVID-19 virus, how the disease is caused and how it spreads. Protect yourself by washing your hands or using an alcohol based sanitizer frequently. Also you should always be aware and make sure you are not touching your face.
        </p>
        
        <p>The spread of the virus is primarily through droplets of saliva or discharge from nose when an infected person coughs or sneezes, so it is important that you make sure that you cough or sneeze into your elbow.</p>
        
        <p>Always be aware of the development of the disease and national policies that are affective in your country in order to stop the spread of the disease. Follow the rules, even if they are inconvenient today, they will protect you tomorrow.</p>
    </div>
    <div class="nextprev">
        <!-- <a href="/userfile" class="previous">&laquo; Previous</a> -->
        <a href="/safe_practices" class="next">Next &raquo;</a>
    </div>

 </div>   
</div>


{% endblock %}
