{% extends "dashboard.html" %}


{% block title %}Learning Tutorials Page{% endblock %}

{% block main %}


<div class="user-page-container">
    <div class="background-image-container">
    <h1>Learning Module - About Covid</h1>
    <div class="content-aboutcovid-page">
        <h2>What is COVID-19?</h2>
        <p>
            Coronaviruses are a large family of viruses that cause respiratory infections. These can range from the common cold to more serious diseases.
COVID-19 is a disease caused by a new form of coronavirus. It was first reported in December 2019 in Wuhan City in China.
        </p>
        <h4>How it spreads?</h4>
        <p>The virus can spread from person to person through:</p>
        <ul>
            <li>close contact with an infectious person (including in the 48 hours before they had symptoms)</li>
            <li>contact with droplets from an infected person’s cough or sneeze</li>
            <li>touching objects or surfaces (like doorknobs or tables) that have droplets from an infected person, and then touching your mouth or face.</li>
        </ul>
        <p>
            COVID-19 is a new disease, so there is no existing immunity in our community. This means that COVID-19 could spread widely and quickly.
        </p>
        <h2>Who is at most risk?</h2>
        <p>You are at high risk of the serious illness from COVID-19 if you:</p>
        <ul>
            <li>are 70 years or above.</li>
            <li>had an organ transplant and in immune suppresive therapy.</li>
            <li>have had a bone marrow transplant in last 24 months.</li>
            <li>have blood cancer.</li>
            <li>are having chemo or radio therapy.</li>
        </ul>
    </div>
    <div class="nextprev">
        <!-- <a href="/userfile" class="previous">&laquo; Previous</a> -->
        <a href="/safe_practices" class="next">Next &raquo;</a>
    </div>

    
</div>


{% endblock %}
