{% extends "admin_dashboard_base.html" %}

{% block title %}Admin Page{% endblock %}

{% block main %}

<div class ="conatiner">
    <br>
<h3> Add new user</h3>
<br>
<form action="/admin_dashboard" METHOD="POST">
<input type="text" placeholder="Name" name="name">
<input type="text" placeholder="email" name="email">
<input type="text" placeholder="password" name="password">

<input type="submit" value="Add Name" class="btn btn-secondary">
</form>
<br>

<h4> Newly added user list:</h4>
<br>
{% for user in username_all %}
    <h4>
        {{ user }}
    </h4>
{% endfor %}

</div>

{% endblock %}