<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/dashbrd.css')}}"
    />
    
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/userfile">Hi, {{name}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Learning Module
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/aboutcovid">About Covid</a></li>
                <li><a class="dropdown-item" href="/safe_practices">Hygiene Practices</a></li>
                <li><a class="dropdown-item" href="/symptoms">Symptoms</a></li>
                <li><a class="dropdown-item" href="/whattodo">What should we do?</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/assessment">Assessments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/submission">Submissions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/progress">Progress Report</a>
            </li>
            <li class="nav-item mr-auto"> 
                <a class="nav-link" href = "{{ url_for('logout') }}">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    <main>{% block main %}{% endblock %}</main>
    

 
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"
    ></script>
    

 
  </body>
</html>



















