{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<br>
<br>
<br>
<br>

<div class="container"> 
    <div class="home-start">
        <h1> Welcome to our Covid-Info application </h1>
        <div class="home-para">
            <p> As we know we are all facing an impossibe situation with a lot of uncertainities due to Covid. This site will help you learn more about the disease and help you gain more knowledge in order to prevent the same. So if you need to know more please sign up!!!</p>
            <br>
            <h2><b>Create an account and let's begin....</b></h2>
        </div>
    </div>
</div>

{% endblock %}