{% extends "dashboard.html" %}

{% block title %}
Progress Page
{% endblock %}

{% block main %}

<div class="user-page-container">
    <div class="container">
        <div class="progress-container">
            <h1>Progress Report</h1>
            <p id>Total number of users are: {{ user_length }}</p>
            <p id>The average of all the users are : {{ user_avg }}</p>
        </div>
    </div>

    
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{{url_for('static',filename='js/app.js')}}"></script>

{% endblock %}
