{% extends "dashboard.html" %}

{% block title %}Hygiene Page{% endblock %}

{% block main %}

<div class="user-page-container container">
    <div class="bg-image-container-hygiene">
        <h1>Learning Module - Safe Practices(Hygiene)</h1>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/8aTnmsDMldY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <div class="hygiene-video-container-1">
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/watch?v=REB-Mm_7nJU">
            </iframe> -->
            <p>Always be aware of the development of the disease and national policies that are affective in your country in order to stop the spread of the disease. Follow the rules, even if they are inconvenient today, they will protect you tomorrow.</p>
            <p>Some of the measure to be taken to prevent covid can be understood and learnt in the below video. Click of the video to watch!!!</p>
            <h2><u>Steps to prevent spread of the virus:</u></h2>
            <iframe width="800" height="495" src="https://www.youtube.com/watch?v=8c_UJwLq8PI" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="hygiene-video-container-2">
            <h2><u>Precautions to take while going back to work:</u></h2>
            <iframe width="800" height="495" src="https://www.youtube.com/watch?v=HG7eOw-1F6w" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="nextprev">
            <a href="/aboutcovid" class="previous">&laquo; Previous</a>
            <a href="/symptoms" class="next">Next &raquo;</a>
        </div>
    </div>
</div>

{% endblock %}