{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}Sign-Up{% endblock %} 

{% block main %}


 {% for mess in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{mess}}
        <a href="/login" class="alert-link">Log-in</a>
      </div>
             
    {% endfor %}


<div class="container box">
    <form class="form-signin" method="POST" action="/signup">
        <h2 class="form-signin-heading">Sign-Up</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }} 
        {{ wtf.form_field(form.email) }} 
        {{ wtf.form_field(form.password) }}
        


        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign-In</button>
    </form>
</div>
    
{% endblock %}

