{% extends "dashboard.html" %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}Submissions Page{% endblock %}

{% block main %}

<div class="user-page-container">
    <h1>Submissions</h1>
    <div class="container">
        <form class="form-assessment" method="POST" action="/assessment">
            <div class="ques-block">

            <table style="width:100%">
                <tr>
                  <th>Question Number</th>
                  <th>Question</th>
                  <th>Correct/Incorrect</th> 
                  
                </tr>
                <tr>
                    <td>1.</td>
                    <td>{{ questions[0] }}</td>
                    <td>{{ ans[0] }}</td>
                    
                  </tr>
                <tr>
                  <td>2.</td>
                  <td>{{ questions[1] }}</td>
                  <td>{{ ans[1] }}</td>
                  
                </tr>
                <tr>
                  <td>3.</td>
                  <td>{{ questions[2] }}</td>
                  <td>{{ ans[3] }}</td>
                  
                </tr>
                <tr>
                  <td>4.</td>
                  <td>{{ questions[3] }}</td>
                  <td>{{ ans[3] }}</td>
                  
                </tr>
              </table>

              <p class = "marks-obtained"><b>The marks obtained are: {{ total }}/4 </b></p>

        </form>
    </div>

</div>

{% endblock %}
