{% extends "dashboard.html" %}

{% block title %}Symptoms Page{% endblock %}

{% block main %}

<div class="user-page-container">
    <div class="background-image-container">
    <h1>Learning Module - Symptoms</h1>
        <div class="content-aboutcovid-page">
            <h2>Watch for Symptoms...</h2>
            <p>
                There has been a wide range of symptoms that were reported by the people who had COVID-19. They ranged from mild symptoms to severe illness.
            </p>
            <p>Symptoms appear from the 2-14 days after the exposure to the virus. People having the symptoms listed below may have COVID: </p>
            <ul>
                <li>Fever or chills</li>
                <li>Cough</li>
                <li>Shortness of breath or diffculty in breathing.</li>
                <li>Fatigue</li>
                <li>Muscle or body aches</li>
                <li>Headache</li>
                <li>New loss of taste or smell</li>
                <li>Sore throat</li>
                <li>Congestion or runny nose</li>
                <li>Nausea or vomiting</li>
                <li>Diarrhea</li>
            </ul>
            <p>
                <b>NOTE:</b> This list does not include all the symptoms. The list keeps getting updated by the CDC as we learn more about the virus.
            </p>
        </div>
        <div class="nextprev">
            <a href="/safe_practices" class="previous">&laquo; Previous</a>
            <a href="/whattodo" class="next">Next &raquo;</a>
        </div>
    </div>
    
</div>

{% endblock %} 