{% extends "dashboard.html" %}

{% block title %}What to do Page{% endblock %}

{% block main %}

<div class="user-page-container">
    <div class="background-image-container">
        <h1>Learning Module - What should we do?</h1>
            <div class="content-aboutcovid-page">
                <h2>WHy is important to get vaccinated?</h2>
                <p>
                    Even if there is a new variant of virus, we should get vaccinated as it is a critical tool against COVID-19. <b>Do not put off vaccination because of concern for new variants.</b> Proceed to get vaccinated as this could somewhat decrease the virus circulation and lead to fewer mutations.
                </p>
                
            </div>
            <div class="nextprev">
                <a href="/symptoms" class="previous">&laquo; Previous</a>
                <a href="/assessment" class="next">Click here to begin Assessment... &raquo;</a>
            </div>
</div>

{% endblock %}