{% extends "dashboard.html" %}

{% block title %}What to do Page{% endblock %}

{% block main %}

<div class="user-page-container container">
    <div class="background-image-container">
        <h1>Learning Module - What should we do?</h1>
        <hr>
            <div class="content-aboutcovid-page">
                <h2>Vaccination and more</h2>
                <p>
                    Access to vaccines is critical to ending the covid-19 pandemic, hence it is highly encouraging to see many vaccines being developed. Though vaccines will help, we should still be cautious and and continue to wear masks and practice physical distancing.
                </p>
                <p>
                    Scaling up vaccine manufacturing and rolling out vaccines as quickly and widely as possible will also be critical ways of protecting people before they are exposed to the virus and the risk of new variants. Priority should be given to vaccinating high-risk groups everywhere to maximize global protection against new variants and minimize the risk of transmission.
                </p>
                <p>
                    We must not put off getting vaccinated because of our concerns about new variants, and we must proceed with vaccination even if the vaccines may be somewhat less effective against some of the COVID-19 virus variants. 
                </p>

            </div>
            <div class="nextprev">
                <a href="/symptoms" class="previous">&laquo; Previous</a>
                <a href="/assessment" class="next">Click here to begin Assessment... &raquo;</a>
            </div>
</div>

{% endblock %}